openapi: 3.1.0
info:
  title: InkEcho API
  version: 1.0.0
  description: |
    REST API for InkEcho multiplayer party game.
    Primary UI uses Server Actions — this spec covers Route Handlers.
    Realtime events via Ably — see docs/phase-0/10-realtime-events.md
  contact:
    name: InkEcho

servers:
  - url: https://inkecho.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development

tags:
  - name: Health
  - name: Guest
  - name: Rooms
  - name: Game
  - name: Realtime
  - name: Profile
  - name: Reports
  - name: Admin
  - name: Cron

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: ink_player_session
    authCookie:
      type: apiKey
      in: cookie
      name: better-auth.session_token
    cronBearer:
      type: http
      scheme: bearer

  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      schema:
        type: string
        format: uuid
    RoomCode:
      name: code
      in: path
      required: true
      schema:
        type: string
        pattern: '^[A-Z0-9]{6}$'
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20

  schemas:
    ErrorPayload:
      type: object
      required: [code, message, correlationId]
      properties:
        code:
          type: string
          example: ROOM_NOT_FOUND
        message:
          type: string
        correlationId:
          type: string
          format: uuid
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
        snapshot:
          $ref: '#/components/schemas/GameSnapshot'

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/ErrorPayload'

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    RoomSettings:
      type: object
      properties:
        maxPlayers:
          type: integer
          minimum: 3
          maximum: 12
          default: 8
        minPlayers:
          type: integer
          default: 3
        roundCount:
          type: integer
          minimum: 1
          maximum: 3
          default: 1
        describeTimerSec:
          type: integer
          minimum: 30
          maximum: 120
          default: 60
        drawTimerSec:
          type: integer
          minimum: 60
          maximum: 180
          default: 90
        profanityFilter:
          type: boolean
          default: false
        allowSpectators:
          type: boolean
          default: true

    Participant:
      type: object
      required: [playerId, displayName, role, isReady, connectionStatus]
      properties:
        playerId:
          type: string
          format: uuid
        displayName:
          type: string
        role:
          type: string
          enum: [HOST, PLAYER, SPECTATOR]
        isReady:
          type: boolean
        connectionStatus:
          type: string
          enum: [ONLINE, RECONNECTING, OFFLINE]
        avatarUrl:
          type: string
          nullable: true

    RoomSnapshot:
      type: object
      required: [id, code, status, visibility, hostPlayerId, settings, participants]
      properties:
        id:
          type: string
        code:
          type: string
        status:
          type: string
          enum: [LOBBY, IN_PROGRESS, REVEAL, CLOSED]
        visibility:
          type: string
          enum: [PUBLIC, PRIVATE]
        hostPlayerId:
          type: string
        settings:
          $ref: '#/components/schemas/RoomSettings'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/Participant'
        spectatorCount:
          type: integer

    TurnPublic:
      type: object
      properties:
        phase:
          type: string
          enum: [DESCRIBE, DRAW]
        activePlayerId:
          type: string
        chainIndex:
          type: integer
        turnIndex:
          type: integer
        turnEndsAt:
          type: string
          format: date-time
        promptText:
          type: string
          description: Only present for active player

    GameSnapshot:
      type: object
      required: [gameId, version, status, playerOrder, serverTime]
      properties:
        gameId:
          type: string
        version:
          type: integer
        status:
          type: string
          enum: [IN_PROGRESS, PAUSED, REVEAL, COMPLETED]
        currentTurn:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/TurnPublic'
        playerOrder:
          type: array
          items:
            type: string
        revealChainIndex:
          type: integer
        revealStepIndex:
          type: integer
        isPaused:
          type: boolean
        serverTime:
          type: string
          format: date-time

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: ok
                      timestamp:
                        type: string
                        format: date-time
                      services:
                        type: object

  /guest/session:
    post:
      tags: [Guest]
      summary: Create guest session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [displayName]
              properties:
                displayName:
                  type: string
                  minLength: 3
                  maxLength: 20
                roomCode:
                  type: string
                  pattern: '^[A-Z0-9]{6}$'
                roomId:
                  type: string
      responses:
        '201':
          description: Created
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Room not found
        '429':
          description: Rate limited

  /rooms:
    get:
      tags: [Rooms]
      summary: List public rooms
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
    post:
      tags: [Rooms]
      summary: Create room
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [visibility]
              properties:
                displayName:
                  type: string
                visibility:
                  type: string
                  enum: [PUBLIC, PRIVATE]
                settings:
                  $ref: '#/components/schemas/RoomSettings'
      responses:
        '201':
          description: Created
        '429':
          description: Rate limited

  /rooms/{code}:
    get:
      tags: [Rooms]
      summary: Get room snapshot
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RoomSnapshot'
        '404':
          description: Not found
    patch:
      tags: [Rooms]
      summary: Update room settings (host)
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  $ref: '#/components/schemas/RoomSettings'
      responses:
        '200':
          description: OK
        '403':
          description: Not host
    delete:
      tags: [Rooms]
      summary: Close room (host)
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        '204':
          description: Closed

  /rooms/{code}/join:
    post:
      tags: [Rooms]
      summary: Join room
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                asSpectator:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Joined
        '403':
          description: Full, kicked, or banned

  /rooms/{code}/leave:
    post:
      tags: [Rooms]
      summary: Leave room
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        '204':
          description: Left

  /rooms/{code}/ready:
    post:
      tags: [Rooms]
      summary: Toggle ready
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [isReady]
              properties:
                isReady:
                  type: boolean
      responses:
        '200':
          description: OK

  /rooms/{code}/kick:
    post:
      tags: [Rooms]
      summary: Kick player (host)
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [playerId]
              properties:
                playerId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Kicked

  /rooms/{code}/game/start:
    post:
      tags: [Game]
      summary: Start game (host)
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        '201':
          description: Game started
        '400':
          description: Insufficient players
        '409':
          description: Game already started

  /rooms/{code}/game:
    get:
      tags: [Game]
      summary: Get game snapshot (reconnect)
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      room:
                        type: object
                      participant:
                        type: object
                      game:
                        nullable: true
                        allOf:
                          - $ref: '#/components/schemas/GameSnapshot'
                      serverTime:
                        type: string
                        format: date-time

  /rooms/{code}/game/submit/description:
    post:
      tags: [Game]
      summary: Submit describe turn
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [text, expectedVersion]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 200
                expectedVersion:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Submitted
        '403':
          description: Not your turn
        '409':
          description: Version conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /rooms/{code}/game/submit/drawing:
    post:
      tags: [Game]
      summary: Submit drawing turn
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, expectedVersion]
              properties:
                image:
                  type: string
                  format: binary
                expectedVersion:
                  type: integer
      responses:
        '200':
          description: Submitted
        '413':
          description: File too large
        '422':
          description: Empty canvas

  /realtime/token:
    get:
      tags: [Realtime]
      summary: Get Ably token
      security:
        - sessionCookie: []
      parameters:
        - name: roomId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token request
        '403':
          description: Not in room

  /profile:
    get:
      tags: [Profile]
      summary: Get profile
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
    patch:
      tags: [Profile]
      summary: Update profile
      security:
        - authCookie: []
      responses:
        '200':
          description: Updated

  /reports:
    post:
      tags: [Reports]
      summary: Report content
      security:
        - sessionCookie: []
      responses:
        '201':
          description: Created

  /cron/cleanup-rooms:
    post:
      tags: [Cron]
      summary: Cleanup inactive rooms
      security:
        - cronBearer: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
